h2 { 
    background-color: #d71212;
    color: #000000;
}
h1 {
    background-color: #57a8ee;
    color: #000000;
    font-family: times;
}
.margin1 {
    margin-left: 100px;
    margin-right: 100px;
}

.margin1 > div {
    margin: 20%;
}

div.border {
    border: 1px solid black;
}

.flex-container {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    flex-direction: column;
}

.flex-container > div {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

body {
    margin: 0px;
    display: block;
}

button {
    background-color:rgb(35, 111, 11);
    color:rgb(255, 255, 255);
}

p {
    font-family: helvetica;
    font-size: 60%;
}